{% load  static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
{#        <script src="{% static 'js/text.js' %}" type="text/javascript" charset="utf-8"></script>#}
	</head>
	<body>

		<div class="top">
			<div class="logo">
				<img src="{% static  'img/register/shop_182x60.png' %}">
				<p>中关村在线旗下网上商城</p>
			</div>
			<div class="tishi">
				已经有ZOL商城账号？<a href="login.html">立即登录</a>
			</div>
		</div>
		<div class="content">
			<div class="title">
				<p>30秒快速注册，加入ZOL商城</p>
			</div>
			<div class="zhuce">

					<ul class="list">
						<li><i></i>用手机号注册</li>
						<li></li>
					</ul>
					<!--手机号-->
					<div class="xinxi">

						<label for=""><i>*</i> 手机号:</label>
						<input type="text" name="" id="phoneNum1" class="num" value="">
						<div id="tipNode" class="tishi">
							<i class="correct_tip"></i>
							<i class="error_tip"></i>
							<span></span>
						</div>
						<p>请填写手机号</p>
					</div>
					<!--验证码-->
					<div class="xinxi">

						<label for=""><i>*</i> 验证码:</label>
						<input type="text" name="" class="code" id="codeYzm" value="">
						<div class="code1" id="codeOne">17738</div>
						<a href="#">换一张</a>
						<div class="tishi" id="tishiYzm">
							<i class="correct_tip"></i>
							<i class="error_tip"></i>

							<span></span>
						</div>
						<p>请填写图片验证码</p>
					</div>
					<!--验证码2-->
					<div class="xinxi">

						<label for=""><i>*</i> 验证码:</label>
						<input type="text" name="" class="code" id="codeYzm2" value="">
						<div class="code1" id="codeTwo">
							获取短信验证码
						</div>
						<a href="#"></a>
						<div class="tishi" id="tishiYzm2">
							<i class="correct_tip"></i>
							<i class="error_tip"></i>

							<span></span>
						</div>
						<p>请填写手机号码，然后点击[获取验证码]</p>
					</div>

					<!--密码-->
					<div class="xinxi">

						<label for=""><i>*</i>密码:</label>
						<input type="password" name="" class="num" id="mimaMm">
						<div class="tishi" id="tishiMm">
							<i class="correct_tip"></i>
							<i class="error_tip"></i>

							<span></span>
						</div>
						<p>6-16位字母和数字的组合，不可用特殊字符</p>
					</div>

					<!--确认密码-->
					<div class="xinxi">

						<label for=""><i>*</i>确认密码:</label>
						<input type="password" name="" class="num" id="mimaMm2" value="">
						<div class="tishi" id="tishiMm2">
							<i class="correct_tip"></i>
							<i class="error_tip"></i>

							<span></span>
						</div>
						<p>再次输入密码</p>
					</div>

					<div class="zhuceBtn">
						<input type="checkbox" id="check" checked="checked">同意<a href="#">《商城用户协议》</a>和<a href="#">《隐私权说明》</a>
						<input type="button" id="btn" value="注册">
					</div>


			</div>

			<div class="lianjie">
				<p>如果您已经注册，请<a href="login.html">直接登录</a>或者用以下方式登录：</p>
				<a href="#" class="a1"></a>
				<a href="#" class="a2"></a>
				<a href="#" class="a3"></a>
				<a href="#" class="a4"></a>
				<a href="#" class="a5"></a>
			</div>

		</div>
		<div class="footer">
			<ul>
				<li>关于ZOL商城</li>
				<li>联系我们</li>
				<li>帮助中心</li>
			</ul>
			<span>
				©2016. 中关村在线 版权所有
			</span>
		</div>

    </body>
</html>
